@model ForgotPasswordModel

@{
    ViewData["Title"] = "Forgot Password";
}

<form asp-action="ForgotPassword">
    @Html.ValidationSummary()
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <br/>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</form>

