<h1>ForgotPasswordConfirmation</h1>
<p>
    The link has been sent, please check your email to reset your password.
</p>

@if (@ViewData["Message"] != null)
{
    <a href="@ViewData["Message"]">link</a>
}