@using System.Text.Encodings.Web
@using System.Web;
@model GetNoteModel
@{
    ViewData["Title"] = Model.Note.Title;
}
<h2>
    @Model.Note.Title
</h2>
<h5>
    Author: @Model.Note.Username
</h5>

<p>@Html.Raw(Model.Note.Content)</p>
